<h1>Halo, apa kabar?</h1>
<form method = "POST" id = "form">
    {% csrf_token %}
    <table>
      {{StatusForm.as_table}}
    </table>
    <button type = "submit" value="Add" name = "submitButton" >Save</button>  
</form>

{% for element in listModel%}
  <div class = "row">
    <div class = "col"><p> {{element.status}}</p></div>
    <div class = "col"><p>{{element.time}} </p></div>
  </div>
{% endfor %}